<% if flash[:notice] %>
  <div class="alert alert-dark text-center">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container-fluid mt-5">
  <div class="row  mx-5 card-deck"> <!--カードを横向きに-->
    <% @posts.each do |post| %>
    <div class="col-md-3 mb-5">
      <div class="card">
        <%= image_tag post.get_image(200, 200), class:"card-img-top border" %>
        <div class="card-body">
          <h5 class="card-title border-bottom"><%= post.title %></h5>
          <p class="card-text"><%= post.body.truncate(15) %></p>
          <div class="border-bottom">
          <p class="card-text"><i class="fa-solid fa-user"></i> <%= post.user.name %></p>
          </div>
        </div>
        <div class="m-2">
          <% post.tags.each do |tag| %>
            <p class="tags">
              <%= link_to tag.name, posts_path(tag_id: tag.id), class: "text-white" %>
              <%= "(#{tag.posts.count})" %>
            </p>
          <% end %>
          <%= link_to post_path(post.id), class: "btn btn-secondary btn-block" do %>
            <h5 class="text-white bg-black">Read more <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></h5>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>