<% if flash[:notice] %>
  <div class="alert alert-dark text-center">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <%= image_tag @post.get_image(600,600) %>
        </div>

        <div class="row">
          <div class="col">
           <% if @post.liked_by?(current_user) %>
            <p>
              <%= link_to post_likes_path(@post), method: :delete do %>
                <i class="fa-solid fa-heart" style="color: #ff9742;"></i><%= @post.likes.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_likes_path(@post), method: :post do %>
                <i class="fa-regular fa-heart" style="color: #ff9742;"></i><%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% end %>
          </div>

          <div class="col">
            <p class="text-right"><%= l @post.created_at %></p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <table class="table table-hover table-inverse">
          <tr>
            <th class="posted_detail_heading">Title</th>
            <th><%= @post.title %></th>
          </tr>
          <tr>
            <th class="posted_detail_heading">Content</th>
            <th><%= @post.body %></th>
          </tr>
          <tr>
            <th class="posted_detail_heading">Address</th>
            <th><%= @post.address %></th>
          </tr>
          <tr>
            <th class="posted_detail_heading">Tags</th>
            <th>
              <% @post_tags.each do |tag| %>
                <div class="tags">
                  <%= link_to tag.name, posts_path(tag_id: tag.id), class: "text-white" %>
                  <%= "(#{tag.posts.count})" %>
                </div>
              <% end %>
            </th>
          </tr>
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <th class="posted_detail_heading">Setting</th>
            <td>
              <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-warning btn-sm" %>
              <%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger btn-sm" %>
            </td>
          <% end %>
        </table>

        <!-- Googleマップ表示エリア(地図を表示) -->
        <div id='map'></div>

        <style>
        #map {
          height: 400px;
          width: 500px;
        }
        </style>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 mt-5">
      <h4 class="my-2 posted_detail_comment">コメント</h4>
        <div class="card px-5 py-3">

        <% @post.comments.each do |comment| %>
        <div class="row">
        <div class="col-md-2">
        <%= image_tag comment.user.get_image(50,50), class: "rounded-circle d-block mx-auto" %>
        </div>
        <div class="col-md-10">
        <div class="card mb-1">
          <div class="card-body">
            <p class="card-title"><%= comment.user.name %></p>
            <p class="card-text"><%= comment.comment_content %></p>
          </div>
        </div>
        </div>
        </div>
        <p class="text-right"><%= l comment.created_at %></p>
        <% end %>

        <h4>コメントを書く</h4>
          <%= form_with model:[@post, @comment], method: :post do |f| %>
          <%= f.text_area :comment_content, placeholder: "コメントをここに", class: "form-control rounded"  %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'コメントする' %>
        <% end %>
    </div>
  </div>
</div>

<!-- Googleマップ表示用の Javascript -->
        <script type="text/javascript">
          function initMap(){
            // 地図の位置情報(緯度・経度)を取得
            geocoder = new google.maps.Geocoder()
            let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
            let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: mapPosition
            });
            let transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            let contentString = '【住所】<%= @post.address %>';
            let infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            let marker = new google.maps.Marker({
              position: mapPosition,
              map: map,
              title: contentString
            });

            marker.addListener('click', function(){
              infowindow.open(map, marker);
            });
          }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>