<div class="container">
  <div class="row flex-column">
    <h2 class="text-center heading_sub">Everyone's posts</h2>
    <% if @random_post.present? %>
      <div class="mt-5 mb-2">
        <p class="text-center"><%= l@random_post.created_at %></p>
        <%= image_tag @random_post.get_image(600,600), class: "d-block mx-auto" %>
      </div>
    <% else %>
      <div class="mt-5 mb-2">
        <p class="text-center">投稿がありません</p>
        <%= image_tag ("no_image.jpg"), class: "d-block mx-auto" %>
      </div>
    <% end %>
  </div>
  <% if @random_post %>
  <div class="d-flex justify-content-center my-2">
    <button class="btn btn-secondary">
      <%= link_to "Read more", post_path(@random_post), class: "text-white" %>
      <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
    </button>
  </div>
  <% end %>
    <div class="text-right mr-2">
      <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
    </div>
</div>