<div class="container mt-5">
  <%= render "public/shared/error_messages", resource: resource %>
  <%= form_with model: @user, url: user_registration_path do |f| %>

    <div class="row mt-5">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :profile_image,"画像" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.file_field :profile_image, class: "form-control-file image border-dark image", accept: 'image/*' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :name,"名前" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_field :name, autofocus: true, placeholder: "サンプル太郎", class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :email,"メールアドレス" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :self_introduction,"Introduction" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_area :self_introduction, rows: 7, autofocus: true, placeholder: "こんにちは", class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :password,"パスワード" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 offset-md-2">
        <%= f.label :password_confirmatio,"パスワード（確認）" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.password_field :password_confirmatio, autocomplete: "new-password", class: "form-control border-dark" %>
      </div>
    </div>

    <div class="actions">
      <div class="row justify-content-center">
        <div class="col-lg-3 mt-4 text-center"><%= f.submit "Sign up", style: 'width:150px', class: "btn btn-warning" %></div>
      </div>
    </div>
  <% end %>
</div>

<div class="container mt-5">
  <p class="text-center">
    既に会員の方へ</p>
  <p class="text-center text-secondary">
    ログインはこちら。</p>
  <div class="d-flex justify-content-center">
    <buttontype="button" class="btn btn-warning">
      <%= render "public/shared/links" %>
    </button>
  </div>
</div>
