<h2>新規登録</h2>
  <%= render "public/shared/error_messages", resource: resource %>
  <%= form_with model: @user, url: user_registration_path do |f| %>

  <div class="col-lg-3"><%= f.label :name, "名前" %></div>
  <div class="col-lg-3"><%= f.text_field :name, autofocus: true, placeholder: "サンプル太郎", class: "form-control border-dark" %></div>

  <div class="row">
    <div class="col-lg-3"><%= f.label :email, "メールアドレス" %></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3"><%= f.email_field :email, autocomplete: "email", placeholder: "sample@gmail.com", class: "form-control border-dark" %></div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

