<div class="container mt-5">

  <%= form_with model: @user, url: users_information_path do |f| %>

    <div class="row mt-5">
      <div class="form-group col-lg-1 offset-md-3">
        <%= f.label :profile_image,"画像" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.file_field :profile_image, class: "form-control-file image border-dark image", accept: 'image/*' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-1 offset-md-3">
        <%= f.label :name,"Name" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_field :name, autofocus: true, class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-1 offset-md-3">
        <%= f.label :email,"Email" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_field :email, class: "form-control border-dark" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-1 offset-md-3">
        <%= f.label :self_introduction,"Introduction" %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.text_area :self_introduction, rows: 7, class: "form-control border-dark" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 mt-4 text-center"><%= f.submit "Save changes", style: 'width:150px', class: "btn btn-warning" %></div>
      <div class="col-lg-3 mt-4 text-center"><%= link_to "退会する", users_unsubscribe_path, style: 'width:150px', class: "btn btn-danger" %></div>
    </div>
  <% end %>
</div>