<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="mt-1 pl-1">マイページ</h4>
        <table class='table text-center'>
          <thead>
            <%= image_tag @user.get_image(150,150), class: "rounded-circle mb-2 d-block mx-auto" %>
          </thead>

          <tr>
            <th>Name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>Introduction</th>
            <th style="font-size:12px;"><%= @user.self_introduction %></th>
          </tr>
        </table>
      <div class="row">
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

      <div class="col-md-8 offset-md-1">
        <h4 class="mt-1 pl-1">投稿一覧</h4>
              <% @posts.each do |post| %>
              <div class="card bg-dark" style="width: 150px;">
                <%= image_tag post.get_image(150,150), class: "rounded" %></th>
                <%= link_to post_path(post.id) do %>
                <div class="card-body">
                <p class="card-text text-white" style="font-size:15px;"><%= post.title %></p>
                <% end %>
                </div>

              </div>
              <% end %>
      </div>
    </div>
  </div>
</div>