<!DOCTYPE html>
<html>
  <head>
    <title>EAntenna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b1267ac2cc.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <haeder>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
    <footer class="footer">
      <div class="mt-5 text-center bg-dark" style="height:70px;">
        <p class=text-white>E.antenna</p>
      </div>
      
    </footer>
  </body>
</html>
